@import url("https://fonts.googleapis.com/css2?family=Raleway&display=swap");

body {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  font-size: 14px;
}

.container {
  width: 90%;
  margin: auto;
}

ul li {
  list-style: none;
}

a {
  text-decoration: none;
  color: inherit;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  margin: 0;
  padding: 0;
}

h1 {
  font-size: 3rem;
  margin: 0px;
}

h2 {
  font-size: 2.25rem;
  margin: 20px 15px;
}

h3 {
  font-size: 2rem;
  font-weight: lighter;
  margin: 25px 15px;
  line-height: 1.5;
}

.btn {
  padding: 10px 10px;
  background-color: olivedrab;
}
/* -=-=-=--=-=-=-==-=TOP BAR-=-=-=-==-=-=-=- */
.top-bar {
  background-color: #009900;
}

.top-bar .container {
  display: flex;
  justify-content: space-between;
}

.middle-item,
.right-item {
  display: flex;
}

.top-bar ul li {
  padding: 0 5px;
}

/* -==-=-=-===-=-=-=-=SEARCH-=--==--=-=-=- */

.search {
  text-align: right;
  margin: 25px 0px 0px 0px;
}

/* -==-=-=-===-=-=-=-=NAV-=---=-=-=--=-=-=- */

nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

nav .logo-list {
  display: flex;
  align-items: center;
  margin: 0px;
}

nav p {
  text-align: right;
  text-transform: uppercase;
  margin: 0;
}

nav .top-logo {
  width: 75px;
  display: inline-block;
}

nav ul {
  display: flex;
}

nav ul li {
  padding: 0 10px;
}

/* -==-=-=-===-=-=-=-=SLIDESHOW-=---=-=-=--=-=-=- */

.slide-show {
  background-position: center;
  background-size: cover;
  height: 500px;
}

.controls {
  text-align: center;
}

.fa-circle {
  padding: 10px;
  color: #999;
}

.fa-circle:hover {
  cursor: pointer;
  color: #666;
}

/* -==-=-=-===-=-=-=-=BANNER=---=-=-=--=-=-=- */

.banner {
  display: flex;
  justify-content: space-between;
}

.banner-pic {
  flex-shrink: 1;
}

/* -==-=-=-===-=-=-=-=BANNER=---=-=-=--=-=-=- */

.product-cards {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
}

.card {
  margin: 10px;
}

.card-info {
  display: flex;
  justify-content: space-between;
}

.card img {
  width: 100%;
}

.card p {
  margin: 10px;
}

.card-btn {
  margin: 10px 0 50px 0;
}
